<!DOCTYPE HTML>
<link href='https://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Orbitron:400,700' rel='stylesheet' type='text/css'>
<style>
body{
  text-align: center;
  font-family: katana;
  background-color: lightcoral;
}
  h1{font-family: gang of three;
    font-size: 90px;
    text-align: center;
    color: gold;
    text-shadow: 3px 3px black;
    }
    @import url('/gang-of-three.regular.ttf');
    @import url('/katanf.regular.ttf');
    #p1n {
    font-family: katana shadow;
    font-size: 45px;
    color: antiquewhite;
    position: absolute;
    left: 20%;
    right: 70%;
    display: inline-flex;
    }
    #p2n {
    font-family: katana shadow;
    font-size: 45px;
    color: antiquewhite;
    position: absolute;
    left: 70%;
    right: 20%;
    display: inline-flex;
    }
    #p2hp{
      position: relative;
      top: 25px;
      font-family: katana;
    }
    #p1hp{
      position: relative;
      top: 25px;
      font-family: katana;
      right: 193px;
    }
    #buttons{
      position: relative;
      top: 60px;
    }
    button{margin-left: 10px;
    border: solid;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    margin-right: 10px;
    }
    #atk{
      background: url('https://d30y9cdsu7xlg0.cloudfront.net/png/52729-200.png');
      background-size: contain;
    }
    #ppr{
      background: url('https://d30y9cdsu7xlg0.cloudfront.net/png/11642-200.png');
      background-size: contain;
    }
    #scrs{
      background: url('https://d30y9cdsu7xlg0.cloudfront.net/png/88664-200.png');
      background-size: contain;
    }
    button:hover{
      transform: scale(1.3);
    }
    .button:active{
      transform: scale(1);
    }
    button:active{
      outline: none;
    }
    </style>
<body>
<h1>FIGHT!</h1>
<%= yield %>
</body>
